<footer>
  <ul class="list">
    <li><a href="{{ baseUri }}/tour/">CHI SIAMO</a></li>
    <li><a href="{{ baseUri }}/aiuto/">AIUTO</a></li>
    <li><a href="{{ baseUri }}/legale/">LEGALE</a></li>
    <li><a href="{{ baseUri }}/privacy/">PRIVACY</a></li>
    <li><a href="{{ baseUri }}/lavoro/">LAVORO</a></li>
    <li><a href="{{ baseUri }}/pubblicita/">PUBBLICITÀ</a></li>
    <li><a href="{{ baseUri }}/contatti/">CONTATTI</a></li>
    <li class="space"></li>
    <li><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/it/"><img alt="Licenza Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/it/80x15.png" /></a></li>
  </ul>
  <p class="copyright">
    © {{ serverName|capitalize }}™ 1999-{{ year }}. Testata giornalistica iscritta col n. 569 presso il Tribunale di Milano in data 14/10/2002.
      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Alcuni diritti riservati.<br>
      I contributi degli utenti</span> sono distribuiti con licenza <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/it/">cc-wiki</a>, l'attribuzione è richiesta e la condivisione deve avvenire con le stesse modalità descritte in licenza.
  </p>
  <p class="version">Powered by <a href="">PitPress</a> v{{ version }}</p>
</footer>